Flask==1.1.1
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mpmath==1.1.0
numpy==1.17.2
openai==0.1
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
Pillow==6.2.0
protobuf==3.10.0
tensorboard==2.0.0
tensorflow==2.3.1
tensorflow-estimator==2.0.0
Werkzeug==0.16.0
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
gunicorn==0.14.2
requests==0.11.1

